## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPY_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nishihara,JP,26.1842,127.7558,72.68,91,75,0.00,broken clouds
1,1,Mahebourg,MU,-20.4081,57.7000,74.25,78,40,12.66,scattered clouds
2,2,Naze,JP,28.3667,129.4833,70.86,65,76,10.40,broken clouds
3,3,Nuuk,GL,64.1835,-51.7216,27.21,46,0,9.22,clear sky
4,4,Dikson,RU,73.5069,80.5464,7.38,86,100,19.04,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.dropna()
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Akyab,MM,20.1500,92.9000,76.71,76,88,4.29,overcast clouds
13,13,Vaini,TO,-21.2000,-175.2000,75.36,78,20,6.91,few clouds
16,16,Martapura,ID,-3.4167,114.8500,77.09,100,36,1.14,scattered clouds
17,17,Bauchi,NG,10.5000,10.0000,80.62,41,99,2.77,overcast clouds
20,20,Kapaa,US,22.0752,-159.3190,80.58,77,20,1.99,few clouds
22,22,Butaritari,KI,3.0707,172.7902,80.10,71,3,2.91,clear sky
23,23,Salalah,OM,17.0151,54.0924,77.09,78,0,4.61,clear sky
27,27,Puerto Ayora,EC,-0.7393,-90.3518,78.76,85,100,10.36,overcast clouds
34,34,Acapulco,MX,16.8634,-99.8901,80.42,78,90,10.36,thunderstorm with rain
35,35,Kolokani,ML,13.5728,-8.0339,84.87,46,52,5.88,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             202
City                   202
Country                201
Lat                    202
Lng                    202
Max Temp               202
Humidity               202
Cloudiness             202
Wind Speed             202
Current Description    202
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.replace('', np.nan, inplace = True)
preferred_cities_df.dropna()

C:\Users\jomli\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4530: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
8,8,Akyab,MM,20.1500,92.9000,76.71,76,88,4.29,overcast clouds
13,13,Vaini,TO,-21.2000,-175.2000,75.36,78,20,6.91,few clouds
16,16,Martapura,ID,-3.4167,114.8500,77.09,100,36,1.14,scattered clouds
17,17,Bauchi,NG,10.5000,10.0000,80.62,41,99,2.77,overcast clouds
20,20,Kapaa,US,22.0752,-159.3190,80.58,77,20,1.99,few clouds
...,...,...,...,...,...,...,...,...,...,...
658,658,Mahibadhoo,MV,3.7833,72.9667,82.62,77,27,15.79,scattered clouds
665,665,Nauta,PE,-4.5061,-73.5757,89.42,55,100,3.80,moderate rain
669,669,Bilma,NE,18.6853,12.9164,87.51,11,0,7.49,clear sky
671,671,Oussouye,SN,12.4850,-16.5469,86.18,81,100,6.33,light rain
675,675,Manavalakurichi,IN,8.1333,77.3000,78.89,86,100,10.02,moderate rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Akyab,MM,76.71,overcast clouds,20.1500,92.9000,
13,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,
16,Martapura,ID,77.09,scattered clouds,-3.4167,114.8500,
17,Bauchi,NG,80.62,overcast clouds,10.5000,10.0000,
20,Kapaa,US,80.58,few clouds,22.0752,-159.3190,
22,Butaritari,KI,80.10,clear sky,3.0707,172.7902,
23,Salalah,OM,77.09,clear sky,17.0151,54.0924,
27,Puerto Ayora,EC,78.76,overcast clouds,-0.7393,-90.3518,
34,Acapulco,MX,80.42,thunderstorm with rain,16.8634,-99.8901,
35,Kolokani,ML,84.87,broken clouds,13.5728,-8.0339,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [9]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Akyab,MM,76.71,overcast clouds,20.1500,92.900,Hotel Memory
13,Vaini,TO,75.36,few clouds,-21.2000,-175.200,Keleti Beach Resort
16,Martapura,ID,77.09,scattered clouds,-3.4167,114.850,Montana Hotel Syariah
17,Bauchi,NG,80.62,overcast clouds,10.5000,10.000,
20,Kapaa,US,80.58,few clouds,22.0752,-159.319,Sheraton Kauai Coconut Beach Resort

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace('', np.nan, inplace = True)
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
8,Akyab,MM,76.71,overcast clouds,20.1500,92.9000,Hotel Memory
13,Vaini,TO,75.36,few clouds,-21.2000,-175.2000,Keleti Beach Resort
16,Martapura,ID,77.09,scattered clouds,-3.4167,114.8500,Montana Hotel Syariah
20,Kapaa,US,80.58,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
22,Butaritari,KI,80.10,clear sky,3.0707,172.7902,Isles Sunset Lodge
...,...,...,...,...,...,...,...
658,Mahibadhoo,MV,82.62,scattered clouds,3.7833,72.9667,Omadhoo Inn
665,Nauta,PE,89.42,moderate rain,-4.5061,-73.5757,Amazon Exploring Expedition - Eretzen Tá Lodge
669,Bilma,NE,87.51,clear sky,18.6853,12.9164,Expeditions Ténére voyages
671,Oussouye,SN,86.18,light rain,12.4850,-16.5469,Auberge du Routard
675,Manavalakurichi,IN,78.89,moderate rain,8.1333,77.3000,Udaya Boys Hostel

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))